nav{
    background-color: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding:0.5rem 1rem ;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 2rem;
    backdrop-filter:blur(15px);
   overflow: visible;

}
nav a{
    background: transparent;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 1.5rem;

}
nav a:hover{
    background: black;
}
nav a.active{
    background:  var(--color-primary);
    color: var(--color-bg);
}
@media screen and(max-width:600px){
    nav{
        width: 80% !important;
       
    }
    nav a{
        padding: 0.2rem 0.2rem;
        font-size: 0.3rem;
    }
}